html {
  scroll-snap-type: y mandatory;
}

.App {
  height: 100vh;
  background-color: black;
  display: grid;
  place-items: center;
}

.app-videos {
  position: relative;
  height: 800px;
  width: 80%;
  max-width: 500px;
  border-radius: 20px;
  overflow: scroll;
  scroll-snap-type: y mandatory;
  /* overflow-y: hidden; /* Hide vertical scrollbar */
  /* overflow-x: hidden; Hide horizontal scrollbar */
}

/* hide scroll bar chrome safari opera */
.app-videos::-webkit-scrollbar {
  display: none;
}

/* IE Edge firfox */
.app-videos {
  ms-overflow-style: none;
  scrollbar-width: none;
}
